flask==2.3.2
requests==2.31.0
websockets==11.0.3
opencv-python==4.7.0.72  # For image processing
numpy==1.24.3  # For numerical computations
markov-clustering==0.0.6.dev0  # Specify the correct version for clustering
networkx==3.0  # For graph operations
matplotlib==3.7.1  # For visualization
scikit-image==0.21.0